{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "name": "Magicline Developer Portal",
      "url": "https://developer.sportalliance.com/"
    },
    "description": "[//]: # (The content of this file is used as the descrption of the API)\n\n# Scope of this API\n\nThis API can be used to integrate Magicline operations into third party clients like websites or apps.\n\nFollowing operations are supported\n\n* Online contract conclusion\n* Trial session slot booking\n* Lead creation\n",
    "title": "Magicline Connect API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Generated server url",
      "url": "https://connectdemo.api.magicline.com"
    }
  ],
  "tags": [
    {
      "description": "List your marketing campaigns",
      "name": "Campaigns"
    },
    {
      "description": "/terminal",
      "name": "Terminal"
    },
    {
      "description": "Allow prospects to book a trial session",
      "name": "TrialSessions"
    },
    {
      "description": "Tenant information",
      "name": "Tenant"
    },
    {
      "description": "Additional referral information for member creation",
      "name": "Referral"
    },
    {
      "description": "Allow prospect to upload image",
      "name": "Image"
    },
    {
      "description": "Getting information about external promotion participation",
      "name": "Promotions"
    },
    {
      "description": "/addressdata",
      "name": "AddressData"
    },
    {
      "description": "/contractvoucher",
      "name": "ContractVoucher"
    },
    {
      "description": "/validation",
      "name": "Validation"
    },
    {
      "description": "List rates and create new members",
      "name": "Contracts"
    },
    {
      "description": "Store credit cards for new members",
      "name": "CreditCard Tokenization"
    },
    {
      "description": "Cancel contracts",
      "name": "Contracts"
    }
  ],
  "paths": {
    "/connect/v1/addressdata/italy/province": {
      "get": {
        "operationId": "getProvinceInformation",
        "parameters": [
          {
            "in": "query",
            "name": "zipCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AddressProvinceDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AddressData"
        ],
        "x-controller": "ConnectApiAddressDataController"
      }
    },
    "/connect/v1/bankaccount": {
      "get": {
        "operationId": "validateIbanAndLookupBic",
        "parameters": [
          {
            "in": "query",
            "name": "iban",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "organizationUnitId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiBankAccountBicIbanDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "BankAccount"
        ],
        "x-controller": "ConnectApiBankAccountController"
      }
    },
    "/connect/v1/bankaccount/validate/accountholder": {
      "get": {
        "operationId": "validateAccountHolderName",
        "parameters": [
          {
            "in": "query",
            "name": "accountHolder",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiBankAccountHolderValidationResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "BankAccount"
        ],
        "x-controller": "ConnectApiBankAccountController"
      }
    },
    "/connect/v1/campaign": {
      "get": {
        "operationId": "listAllActiveCampaigns",
        "parameters": [
          {
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiCampaignDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List all campaigns",
        "tags": [
          "Campaigns"
        ],
        "x-controller": "ConnectApiCampaignController"
      }
    },
    "/connect/v1/contracts": {
      "post": {
        "operationId": "getActiveContracts",
        "parameters": [
          {
            "description": "client generated Google reCAPTCHA token",
            "in": "query",
            "name": "recaptchaToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveContractsRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetActiveContractsResponseDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiContractController"
      }
    },
    "/connect/v1/contracts/cancel": {
      "post": {
        "operationId": "cancelContract",
        "parameters": [
          {
            "description": "client generated Google reCAPTCHA token",
            "in": "query",
            "name": "recaptchaToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelContractRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CancelContractResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiContractController"
      }
    },
    "/connect/v1/contracts/cancel-request": {
      "post": {
        "operationId": "cancelContractManual",
        "parameters": [
          {
            "description": "client generated Google reCAPTCHA token",
            "in": "query",
            "name": "recaptchaToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelContractManualRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CancelContractManualResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiContractController"
      }
    },
    "/connect/v1/contracts/studios/{studioId}": {
      "get": {
        "operationId": "getStudioInfo",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiContractCancellationStudioDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiContractController"
      }
    },
    "/connect/v1/contractvoucher/{contractVoucherCode}/redeem": {
      "post": {
        "operationId": "redeemContractVoucher",
        "parameters": [
          {
            "in": "path",
            "name": "contractVoucherCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiRedeemVoucherDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiRedeemVoucherResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Redeem a ContractVoucher. Only Vouchers of type 'Rate' are supported here.",
        "tags": [
          "ContractVoucher"
        ],
        "x-controller": "ConnectApiContractVoucherController"
      }
    },
    "/connect/v1/contractvoucher/{contractVoucherCode}/validate": {
      "get": {
        "operationId": "validateContractVoucher",
        "parameters": [
          {
            "in": "path",
            "name": "contractVoucherCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "organizationUnitId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiContractVoucherDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Validates a ContractVoucher and returns basic voucher information to display. Only Vouchers of type 'Rate' are supported here.",
        "tags": [
          "ContractVoucher"
        ],
        "x-controller": "ConnectApiContractVoucherController"
      }
    },
    "/connect/v1/creditcard/tokenization/{tokenizationReference}/complete": {
      "post": {
        "deprecated": true,
        "operationId": "completeTokenization",
        "parameters": [
          {
            "description": "Tokenization reference you'll get via initiate endpoint",
            "in": "path",
            "name": "tokenizationReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiCompleteTokenizationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdyenCompleteTokenizationResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Complete Tokenization",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v1/creditcard/tokenization/{tokenizationReference}/state": {
      "get": {
        "deprecated": true,
        "operationId": "tokenizationState",
        "parameters": [
          {
            "in": "path",
            "name": "tokenizationReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationStateDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get Tokenization state",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v1/featurecheck/activefeatures": {
      "get": {
        "operationId": "getActiveFeatures",
        "parameters": [
          {
            "in": "query",
            "name": "organizationUnitId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "MYSPORTS_MESSAGE"
                    ]
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Lists all active features of the organization unit",
        "tags": [
          "FeatureCheck"
        ],
        "x-controller": "ConnectApiFeatureCheckController"
      }
    },
    "/connect/v1/i18n/countries": {
      "get": {
        "operationId": "getCountries",
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyValuePairCountryCodeString"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Returns a list of tuples with every available country code and the localized country name",
        "tags": [
          "I18n"
        ],
        "x-controller": "ConnectApiI18nController"
      }
    },
    "/connect/v1/lead": {
      "post": {
        "operationId": "createLead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiCreateLeadDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiCreateLeadResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Create leads for prospective customers",
        "tags": [
          "Leads"
        ],
        "x-controller": "ConnectApiLeadController"
      }
    },
    "/connect/v1/lead/{uuid}": {
      "get": {
        "operationId": "getLeadCustomerByUuid",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonTrialSessionLeadCustomerDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Returns information about an existing lead record",
        "tags": [
          "Leads"
        ],
        "x-controller": "ConnectApiLeadController"
      }
    },
    "/connect/v1/promotion/confirm-participation": {
      "post": {
        "operationId": "confirmCustomerParticipation",
        "parameters": [
          {
            "in": "query",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Promotions"
        ],
        "x-controller": "ConnectApiPromotionController"
      }
    },
    "/connect/v1/prospectimage/uploadurl": {
      "get": {
        "operationId": "generatePreSignedUrlForPreUpload",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlWithObjectKeyDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Image"
        ],
        "x-controller": "UploadCustomerImageController"
      }
    },
    "/connect/v1/rate-bundle": {
      "get": {
        "operationId": "getRateBundleList",
        "parameters": [
          {
            "description": "The Id of the studio to fetch the rate bundles from",
            "example": 1,
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiRateBundleDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List rate bundles (german wording: Angebote)",
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiRateBundleController"
      },
      "post": {
        "operationId": "createCustomerAndContract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiCreateContractDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiCreateContractResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Create a new customer and a new contract",
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiRateBundleController"
      }
    },
    "/connect/v1/referral": {
      "get": {
        "operationId": "getReferralsByStudioId",
        "parameters": [
          {
            "description": "Studio Id",
            "example": 1,
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiReferralDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List all referrals by studioId",
        "tags": [
          "Referral"
        ],
        "x-controller": "ConnectApiReferralController"
      }
    },
    "/connect/v1/studio/{studioId}/communication-settings": {
      "get": {
        "description": "Get the studio's default communication settings. The returned list contains an entry for each existing message category.",
        "operationId": "getDefaultCommunicationConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiStudioCommunicationConfigurationDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get the studio's default communication settings.",
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioController"
      }
    },
    "/connect/v1/studio/{studioId}/rate/{rateBundleId}/sepa/agreement": {
      "get": {
        "operationId": "getSepaAgreementTextForRateBundle",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "rateBundleId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Language to pick the right translation (IETF BCP 47 language tags)",
            "example": "de-DE",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioController"
      }
    },
    "/connect/v1/studio/{studioId}/sepa/agreement": {
      "get": {
        "operationId": "getSepaAgreementText",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioController"
      }
    },
    "/connect/v1/studio/{studioId}/utilization": {
      "get": {
        "description": "Return information about the utilization of this studio. Needs to be enabled for public view in the configuration.",
        "operationId": "getUtilizationPublic",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UtilizationDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get utilization for the studio.",
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioController"
      }
    },
    "/connect/v1/tenant": {
      "get": {
        "operationId": "getTenantInfo",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Tenant"
        ],
        "x-controller": "ConnectApiTenantController"
      }
    },
    "/connect/v1/terminal/customer-data-by-codicefiscale": {
      "get": {
        "operationId": "getCustomerDataByCodiceFiscale",
        "parameters": [
          {
            "in": "query",
            "name": "codiceFiscale",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiCodiceFiscaleBirthInformationResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Terminal"
        ],
        "x-controller": "ConnectApiTerminalController"
      }
    },
    "/connect/v1/trialsession": {
      "get": {
        "description": "Returns free slots for a studio where a trial session appointment can be booked.",
        "operationId": "getBookableItem",
        "parameters": [
          {
            "example": 1,
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "example": "2021-05-15",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "example": "2021-05-21",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiBookableItemDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get free slots for a trial session",
        "tags": [
          "TrialSessions"
        ],
        "x-controller": "ConnectApiTrialSessionController"
      }
    },
    "/connect/v1/trialsession/book": {
      "post": {
        "description": "Book a free slot. Might return errorCode CONFLICT if configured resources are overbooked for this slot. In this case its advised to reload free slots and let the user select a different slot. If you get a validation error make sure all required fields are filled. Required fields are returned by the `/config/validation` endpoint.",
        "operationId": "book",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiBookTrialSessionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiTrialSessionBookedResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Book a trial session",
        "tags": [
          "TrialSessions"
        ],
        "x-controller": "ConnectApiTrialSessionController"
      }
    },
    "/connect/v1/trialsession/config/validation": {
      "get": {
        "description": "Returns the configuration which needs to be considered e.g. for form fields and their validation.",
        "operationId": "getLeadConfig",
        "parameters": [
          {
            "example": 1,
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiTrialSessionLeadConfigDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get mandatory field configuration",
        "tags": [
          "TrialSessions"
        ],
        "x-controller": "ConnectApiTrialSessionController"
      }
    },
    "/connect/v1/validation/taxId": {
      "post": {
        "description": "For some countries additional customer related attributes might be needed for that. Country will be derived from given studioId.",
        "operationId": "validateTaxId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiTaxIdDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaxIdValidationResultDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Validates the taxId against country based validation rules.",
        "tags": [
          "Validation"
        ],
        "x-controller": "ConnectApiValidationController"
      }
    },
    "/connect/v2/contracts/studios": {
      "get": {
        "operationId": "getActiveStudiosInGermanyV2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiBasicStudioDataDtoV2"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Contracts"
        ],
        "x-controller": "ConnectApiContractControllerV2"
      }
    },
    "/connect/v2/creditcard/tokenization/initiate": {
      "post": {
        "operationId": "initiateTokenizationV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiInitiateTokenizationDtoV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdyenInitiateTokenizationResponseDtoV2"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Initiate Tokenization",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v2/creditcard/tokenization/payment-methods": {
      "get": {
        "operationId": "paymentMethodsV2",
        "parameters": [
          {
            "description": "Studio Id",
            "example": 1,
            "in": "query",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Country code",
            "example": "DE",
            "in": "query",
            "name": "countryCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale",
            "example": "de-DE",
            "in": "query",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsResponseDto"
                }
              }
            },
            "description": "Get payment methods, the contained paymentMethodsJson must be deserialized and passed to the Adyen web component"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Load payment methods",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v2/creditcard/tokenization/{tokenizationReference}/complete": {
      "post": {
        "operationId": "completeTokenizationV2",
        "parameters": [
          {
            "description": "Tokenization reference you'll get via initiate endpoint",
            "in": "path",
            "name": "tokenizationReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiCompleteTokenizationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdyenCompleteTokenizationResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Complete Tokenization",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v2/creditcard/tokenization/{tokenizationReference}/state": {
      "get": {
        "operationId": "tokenizationStateV2",
        "parameters": [
          {
            "in": "path",
            "name": "tokenizationReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationStateDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get Tokenization state",
        "tags": [
          "CreditCard Tokenization"
        ],
        "x-controller": "ConnectApiCreditCardTokenizationController"
      }
    },
    "/connect/v2/preview": {
      "post": {
        "operationId": "getPreview",
        "parameters": [
          {
            "in": "query",
            "name": "landingPageConfigurationId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "checkoutPageConfigurationId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectApiCreateContractDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiContractPreviewDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Previews"
        ],
        "x-controller": "ConnectApiContractPreviewControllerV2"
      }
    },
    "/connect/v2/studio": {
      "get": {
        "description": "You can add optional filters. Parameters addressSearchQuery and studioTags are combined by AND",
        "operationId": "getStudioList",
        "parameters": [
          {
            "description": "Filter by identifier of StudioTag (german wording: Standort Code). Dynamic attribute configured at studio (e.g for Brands or Locations). Multiple Tags are combined by OR.",
            "in": "query",
            "name": "studioTags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Search prefix for zipCode or city of studio address.",
            "in": "query",
            "name": "addressSearchQuery",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectApiStudioDtoV2"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List all studios",
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioControllerV2"
      }
    },
    "/connect/v2/studio/details/{studioId}": {
      "get": {
        "operationId": "getStudioDetails",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiStudioDetailsDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Fetch detail information for one studio",
        "tags": [
          "Studios"
        ],
        "x-controller": "StudioControllerV2"
      }
    },
    "/connect/v2/studio/{studioId}": {
      "get": {
        "operationId": "getStudio",
        "parameters": [
          {
            "in": "path",
            "name": "studioId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiStudioDtoV2"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectApiErrorResponseDto"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "content": {
              "*/*": {
[...]
