{
  "openapi": "3.1.0",
  "info": {
    "title": "Magicline API",
    "description": "* Appointment, bookable appointment and slots operations\n* Redeem checkin vouchers\n* Class and slots operations\n* Cross studio operations\n* Get customers and contracts\n* Retrieve customer accounting details\n* Retrieve customer communication details\n* Get device information\n* Employee operations\n* Debt collection operations\n* Manage membership contracts\n* Membership operations\n* Payment operations\n* Get studio information\n* Get trial offers information",
    "version": "1.5.0"
  },
  "servers": [
    {
      "url": "https://open-api-demo.open-api.magicline.com",
      "description": "Demo tenant"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Appointments",
      "description": "Appointment, bookable appointment and slots operations"
    },
    {
      "name": "Checkin vouchers",
      "description": "Redeem checkin vouchers"
    },
    {
      "name": "Classes",
      "description": "Class and slots operations"
    },
    {
      "name": "Cross Studio",
      "description": "Cross studio operations"
    },
    {
      "name": "Customers",
      "description": "Get customers and contracts"
    },
    {
      "name": "Customers Account",
      "description": "Retrieve customer accounting details"
    },
    {
      "name": "Customers Communication",
      "description": "Retrieve customer communication details"
    },
    {
      "name": "Customers Self-service"
    },
    {
      "name": "Devices",
      "description": "Get device information"
    },
    {
      "name": "Employees",
      "description": "Employee operations"
    },
    {
      "name": "Finance",
      "description": "Debt collection operations"
    },
    {
      "name": "Membership Self-service",
      "description": "Manage membership contracts"
    },
    {
      "name": "Memberships",
      "description": "Membership operations"
    },
    {
      "name": "Payments",
      "description": "Payment operations"
    },
    {
      "name": "Studios",
      "description": "Get studio information"
    },
    {
      "name": "Trial Offers",
      "description": "Get trial offers information"
    }
  ],
  "paths": {
    "/v1/payments/user-session": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a user payment session",
        "description": "Required Scopes: `PAYMENT_WRITE`\n\nRequest to initiate a user session for payments. This is used to collect payment instruments for future recurring payments or one-time transactions.",
        "operationId": "userSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsUserSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsUserSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/customers/{customerId}/self-service/contact-data": {
      "get": {
        "tags": [
          "Customers Self-service"
        ],
        "summary": "Get customer's contact data",
        "description": "Required Scopes: `CUSTOMER_SELF_SERVICE_READ`\n\nReturns customer current contact data along with requested change of this data",
        "operationId": "getCustomerContactData",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiV1CustomerDataDtoCustomerContactData"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      },
      "post": {
        "tags": [
          "Customers Self-service"
        ],
        "summary": "Create contact data amendment",
        "description": "Required Scopes: `CUSTOMER_SELF_SERVICE_WRITE`\n\nCreates request for contact data amendment for specified customerId",
        "operationId": "createCustomerContactDataAmendment",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Requested changes for contact data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiV1CustomerDataPendingAmendmentDtoCustomerContactData"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/communications/{customerId}/threads": {
      "post": {
        "tags": [
          "Customers Communication"
        ],
        "summary": "Create communication thread",
        "description": "Required Scopes: `COMMUNICATION_WRITE`\n\nCreates new thread with a new communication for a customer",
        "operationId": "createCommunicationInNewCommunicationThread",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationThreadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationThreadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/checkin-vouchers/redeem": {
      "post": {
        "tags": [
          "Checkin vouchers"
        ],
        "summary": "Redeem checkin voucher",
        "description": "Required Scopes: `CHECKIN_VOUCHER_WRITE`\n\nRedeem checkin voucher",
        "operationId": "redeemCheckinVoucher",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckinVoucherRedeem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiV1CheckinVoucherRedeemResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/trial-offers/bookable-trial-offers/classes": {
      "get": {
        "tags": [
          "Trial Offers"
        ],
        "summary": "Get bookable trial offer classes",
        "description": "Required Scopes: `TRIAL_OFFER_READ`\n\nGet pageable bookable trial offer classes within the next year",
        "operationId": "getBookableTrialOfferClasses",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the class)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100,
              "minimum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialOfferClassesSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/studios/utilization": {
      "get": {
        "tags": [
          "Studios"
        ],
        "summary": "Get studio utilization",
        "description": "Required Scopes: `STUDIO_READ`\n\nReturns information about current checkin count and maximum studio capacity",
        "operationId": "getUtilization",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudioUtilization"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/memberships/{customerId}/self-service/contract-data": {
      "get": {
        "tags": [
          "Membership Self-service"
        ],
        "summary": "Get customer's contract data",
        "description": "Required Scopes: `MEMBERSHIP_SELF_SERVICE_READ`\n\nReturns customer's current contract data for memberships",
        "operationId": "getContractData",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MembershipSelfServiceContractData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/memberships/membership-offers": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get all membership offers",
        "description": "Required Scopes: `MEMBERSHIP_READ`\n\nReturns all available membership offers.",
        "operationId": "getMembershipOffers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MembershipOffer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get employees",
        "description": "Required Scopes: `EMPLOYEE_READ`\n\nReturns employees for studio defined by used x-api-key.",
        "operationId": "getEmployees",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100,
              "minimum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get devices",
        "description": "Required Scopes: `DEVICE_READ`\n\nReturns devices for a studio",
        "operationId": "getDevices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/debt-collection/configuration": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Get Configuration of Debt Collection",
        "description": "Required Scopes: `DEBT_COLLECTION_READ`\n\nGet Configuration of Debt Collection",
        "operationId": "getDebtCollectionConfiguration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtCollectionConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customers",
        "description": "Required Scopes: `CUSTOMER_READ`\n\nReturns all customers from studio in expected slices",
        "operationId": "getCustomers",
        "parameters": [
          {
            "name": "cardNumberFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CardNumberFormat",
              "default": "DECIMAL"
            }
          },
          {
            "name": "lastOffsetId",
            "in": "query",
            "description": "Last ID of customer from last chunk",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the customer)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 500,
              "minimum": 50
            }
          },
          {
            "name": "customerStatus",
            "in": "query",
            "description": "Defines status of returned customers",
            "required": false,
            "schema": {
              "type": "string",
              "default": "MEMBER",
              "enum": [
                "MEMBER",
                "PROSPECT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/customers/{customerId}/account/balances": {
      "get": {
        "tags": [
          "Customers Account"
        ],
        "summary": "Get customer's account balance data",
        "description": "Required Scopes: `CUSTOMER_ACCOUNT_READ`\n\nReturns customer's current account balance data",
        "operationId": "getCustomersAccountBalanceData",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountBalance"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/cross-studio/customers/by": {
      "get": {
        "tags": [
          "Cross Studio"
        ],
        "summary": "Get customer by",
        "description": "Required Scopes: `CUSTOMER_READ`\n\nReturns customer by one of the given parameters from all studios with activated partner integration",
        "operationId": "getCrossStudioCustomerBy",
        "parameters": [
          {
            "name": "cardNumber",
            "in": "query",
            "description": "Card number to identify the customer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardNumberFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CardNumberFormat"
            }
          },
          {
            "name": "debtorId",
            "in": "query",
            "description": "Unique ID of the debtor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qrCodeUuid",
            "in": "query",
            "description": "QR code UUID to identify the customer",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "barcode",
            "in": "query",
            "description": "Barcode to identify the customer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerNumber",
            "in": "query",
            "description": "Customer number to identify the customer",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/classes": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get classes",
        "description": "Required Scopes: `CLASSES_READ`\n\nReturns classes with at least one scheduled appointment for the period of one day before to fourteen days ahead",
        "operationId": "getActiveClasses",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the class)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100,
              "minimum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/appointments/bookable": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get bookable appointments",
        "description": "Required Scopes: `BOOKABLE_APPOINTMENTS_READ`\n\nReturns bookable appointments",
        "operationId": "getBookableAppointments",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the bookable appointment)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100,
              "minimum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookableAppointmentSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 1
      }
    },
    "/v1/devices/{deviceId}/activate": {
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Activate device",
        "description": "Required Scopes: `DEVICE_WRITE`\n\nActivates device and returns token",
        "operationId": "activateDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceActivationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/communications/{customerId}/threads/{threadId}": {
      "put": {
        "tags": [
          "Customers Communication"
        ],
        "summary": "Update communication thread",
        "description": "Required Scopes: `COMMUNICATION_WRITE`\n\nAdds new communication for a customer to an existing communication thread and updates the thread",
        "operationId": "createCommunicationInExistingCommunicationThread",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The ID of the communication thread",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationThreadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationThreadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/memberships/{customerId}/self-service/ordinary-contract-cancelation": {
      "post": {
        "tags": [
          "Membership Self-service"
        ],
        "summary": "Create contract cancelation amendment",
        "description": "Required Scopes: `MEMBERSHIP_SELF_SERVICE_WRITE`\n\nCreates contract cancelation amendment for specified contract id",
        "operationId": "createContractCancelationAmendment",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipSelfServiceMainContractCancelation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/trial-offers/bookable-trial-offers/appointments/bookable": {
      "get": {
        "tags": [
          "Trial Offers"
        ],
        "summary": "Get bookable trial offer appointments",
        "description": "Required Scopes: `TRIAL_OFFER_READ`\n\nGet pageable bookable trial offer appointments within the next year",
        "operationId": "getBookableTrialOfferAppointments",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the bookable appointment)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100,
              "minimum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookableTrialOfferAppointmentsSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/studios/information": {
      "get": {
        "tags": [
          "Studios"
        ],
        "summary": "Get studio general information",
        "description": "Required Scopes: `STUDIO_READ`\n\nReturns studio's general information for authenticated subject",
        "operationId": "getStudioInformation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudioInformation"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/memberships/membership-offers/{membershipOfferId}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get membership offer by id",
        "description": "Required Scopes: `MEMBERSHIP_READ`\n\nReturns extended information about the membership offer.",
        "operationId": "getMembershipOfferById",
        "parameters": [
          {
            "name": "membershipOfferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipOfferExtended"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/employees/{id}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get employee",
        "description": "Required Scopes: `EMPLOYEE_READ`\n\nReturns employee by id",
        "operationId": "getEmployee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/debt-collection/{debtCollectionRunId}/debtors": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Get Debtors",
        "description": "Required Scopes: `DEBT_COLLECTION_READ`\n\nReturns debtors for specified debtCollectionRunId in slices",
        "operationId": "getDebtors",
        "parameters": [
          {
            "name": "debtCollectionRunId",
            "in": "path",
            "description": "Unique ID of the debt collection run",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 50,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/customers/{customerId}/activities/checkins": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer's checkin history",
        "description": "Required Scopes: `CHECKIN_READ`\n\nReturns a list of studio checkins of the customer for a specific time span (default is one month from today) in expected slices",
        "operationId": "getCustomersCheckinHistory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The from date of the time span",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The to date of the time span, should not be greater than 365 days from the start date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCheckinSlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/customers/{customerId}/account/transactions": {
      "get": {
        "tags": [
          "Customers Account"
        ],
        "summary": "Get customer's account past transactions in slices",
        "description": "Required Scopes: `CUSTOMER_ACCOUNT_READ`\n\nReturns customer's account transaction data for the past excluding today",
        "operationId": "getCustomersAccountTransactionData",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sliceSize",
            "in": "query",
            "description": "Desired size of data chunk",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from last request (last ID of the booking entry)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingEntrySlicedResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/cross-studio/customers/{customerId}": {
      "get": {
        "tags": [
          "Cross Studio"
        ],
        "summary": "Get customer by id",
        "description": "Required Scopes: `CUSTOMER_READ`\n\nReturns customer by given id from all studios with activated partner integration",
        "operationId": "getCrossStudioCustomerById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique ID of the customer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cardNumberFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CardNumberFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed. The caller has no privilege to the given resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity does not exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent modification detected. The entity was modified by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Access denied - rate limit is exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected system error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-redoclyOrder": 2
      }
    },
    "/v1/classes/{classId}": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get class by id",
        "description": "Required Scopes: `CLASSES_READ`\n\nReturns a class for specified id",
        "operationId": "getClassById",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "Id of the class.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "400": {
            "description": "Validation of the request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. No api-key, wrong api-key or wrong header name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
[...]
